{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Профиль
{% endblock %}
{% block menu_links %}
    <a class="nav-item nav-link" href="{% url 'webapp:add_file' %}">Добавить файл</a>
{% endblock %}
{% block content %}
    <h1>Профиль пользователя {{ user_obj.username }}</h1>
    <hr>
    <h2>Файлы пользователя</h2>
    {% include 'partial/pagination.html' %}
    <div class="row">
        {% for file in user_obj.files.all %}
            {% if file.sharing_type == 'public' or perms.webapp.view_sharedfile %}
                {% include 'partial/file_card.html' %}
            {% elif file.sharing_type == 'closed' and request.user.id == user_obj.id %}
                {% include 'partial/file_card.html' %}
            {% elif file.sharing_type == 'private' and request.user.id == user_obj.id %}
                {% include 'partial/file_card.html' %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/download_counter.js' %}"></script>
{% endblock %}