<div class="card border-success" style="width: 18rem;">
    <div class="card-header"><a href="{% url 'webapp:file_detailed' file.pk %}">{{ file.name }}</a></div>
    <div class="card-body text-success">
        <h5 class="card-subtitle mb-2 text-muted">
           Скачан {{ file.downloaded_count }} раз
        </h5>
        <p class="card-text">загружен {{ file.uploaded|date:'d.m.Y' }} в {{ file.uploaded|date:'H:i' }}</p>
        {% if file.user_id %}
            <a href="{% url 'accounts:view_user_files' file.user_id.id %}" class="card-link">{{ file.user_id.username }}</a>
        {% else %}
            <p class="text-muted">Неизвестный благодетель</p>
        {% endif %}
        <a href="{{ file.file.url }}" class="card-link">Скачать</a>
    </div>
</div>