{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block style_links %}{% endblock %}
</head>
<body>
<div class="container mt-3">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
{#                    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>#}
{#                    <a class="nav-item nav-link" href="#">Features</a>#}
{#                    <a class="nav-item nav-link" href="#">Pricing</a>#}
                    {% block menu_links %}
                    {% endblock %}
                    {% if request.user.is_authenticated %}
                        <span class="navbar-text">Привет, {{ request.user.username }}!</span>
                        <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Выйти</a>
                    {% else %}
                        <span class="navbar-text">Привет, Аноним! </span>
                        <a class="nav-item nav-link" href="{% url 'accounts:sign_up' %}">Регистрация</a>
                        <a class="nav-item nav-link" href="{% url 'accounts:login' %}">Вход</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
</div>
<script src={% static "/js/jquery-3.4.1.min.js"%}></script>
<script src={% static "/js/popper.min.js"%}></script>
<script src={% static "/js/bootstrap.min.js"%}></script>
{% block script %}{% endblock %}
</body>
</html>