{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Файл
{% endblock %}
{% block menu_links %}
    <a class="nav-item nav-link" href="{% url 'webapp:add_file' %}">Добавить файл</a>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6 col-xl-6">
            <h1>Детальный просмотр файла</h1>
            <h2>{{ sharedfile.name }}</h2>
            <h3>Автор:
                {% if sharedfile.user_id %}
                    <a href="{% url 'accounts:view_user_files' sharedfile.user_id.id %}">{{ sharedfile.user_id.username }}</a>
                {% else %}
                    Аноним
                {% endif %}
            </h3>
            <h4>Скачан {{ sharedfile.downloaded_count }} раз</h4>

        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 d-flex flex-column justify-content-center">
            <a href="{{ sharedfile.file.url }}" class="btn btn-info">Скачать</a>
            <div class="btn-group">
                <a href="{% url 'webapp:edit_file' sharedfile.pk %}" class="btn btn-success">Редактировать</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                    Удалить
                </button>
            </div>
            {% if sharedfile.sharing_type == 'public' %}
                <h6>Файл в общем доступе</h6>
            {% elif sharedfile.sharing_type == 'closed'%}
                <h6>Файл скрыт</h6>
            {% else %}
                <button class="btn btn-primary" id='collapseAccessButton' data-file-id='{{ sharedfile.pk }}' type="button" data-toggle="collapse" data-target="#collapseAccess" aria-expanded="false" aria-controls="collapseExample">
                    Доступ к файлу
                </button>
                <div class="collapse" id="collapseAccess">
                    <div class="card card-body" id="privileged_users">
                        {% if sharedfile.privately_accessed %}
                            {% for user in  sharedfile.privately_accessed.all %}
                                <div class="btn-group btn-group-sm w-50">
                                    <a class='btn btn-info' href="{% url 'accounts:view_user_files' user.id %}"><i class="far fa-eye"></i> {{ user.username }}</a>
                                    <button id="depriveButton_{{ user.id }}" class="btn btn-danger depriveAccess" data-id="{{ user.id }}"><i class="fas fa-user-slash"></i> Забрать права</button>
                                </div>


                            {% endfor %}
                        {% else  %}
                            <h6 id="accessNone">Пользователь никому не доверяет</h6>
                        {% endif %}
                        <form id="formAddAccessToUser" class="pt-5">
                            {% csrf_token %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Введите имя пользователя</span>
                                </div>
                                <input type="text" maxlength="150" aria-label="username" class="form-control" name="user_name" id="id_user_name">
                                <input type="submit" class="btn btn-success" value="Дать доступ" id="provideAccessSubmit">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>



    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Удалить файл</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a href="{% url 'webapp:delete_file' sharedfile.pk %}" class="btn btn-danger">Удалить</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/fileDetail.js' %}"></script>
{% endblock %}